*.o
*.a
*.so
*.so.*
*.orig
*.rej
*.swp
src/rtaudio-mod/librtaudio.pc
src/rtaudio-mod/rtaudio-config
AUTHORS
ERRORS
README
INSTALL
Makefile
Makefile.in
NEWS
compile
aclocal.m4
autom4te.cache/
config.log
config.status
depcomp
install-sh
/configure
misc/
missing
release/
script/
patch/
src/giada
src/giada_lin
src/giada_osx
src/giada_win.exe
src/*.o
src/giada.conf
src/.deps
src/Makefile.in
compile
debian/*.log
debian/autoreconf.after
debian/autoreconf.before
