*.o
*.a
*.so
AUTHORS
ERRORS
README
INSTALL
Makefile
Makefile.in
NEWS
aclocal.m4
autom4te.cache/
config.log
config.status
depcomp
install-sh
configure
misc/
missing
release/
script/
src/giada
src/giada_lin
src/giada_osx
src/giada_win.exe
src/*.o
src/giada.conf
src/.deps
src/Makefile.in
