[submodule "src/deps/juce"]
	path = src/deps/juce
	url = https://github.com/juce-framework/JUCE.git 
[submodule "src/deps/json"]
	path = src/deps/json
	url = https://github.com/nlohmann/json.git
[submodule "src/deps/vst3sdk"]
	path = src/deps/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "src/deps/rtaudio"]
	path = src/deps/rtaudio
	url = https://github.com/monocasual/rtaudio.git
[submodule "src/deps/geompp"]
	path = src/deps/geompp
	url = git@github.com:monocasual/geompp.git
[submodule "src/deps/mcl-audio-buffer"]
	path = src/deps/mcl-audio-buffer
	url = git@github.com:monocasual/mcl-audio-buffer.git
[submodule "src/deps/mcl-atomic-swapper"]
	path = src/deps/mcl-atomic-swapper
	url = git@github.com:monocasual/mcl-atomic-swapper.git
