*.o
*.a
*.so
*.so.*
*.orig
*.rej
src/rtaudio/librtaudio.pc
src/rtaudio/rtaudio-config
AUTHORS
ERRORS
README
INSTALL
Makefile
Makefile.in
NEWS
compile
aclocal.m4
autom4te.cache/
config.log
config.guess
config.status
config.sub
depcomp
install-sh
configure
misc/
missing
release/
script/
src/giada
src/giada_lin
src/giada_osx
src/giada_win.exe
src/*.o
src/giada.conf
src/.deps
src/Makefile.in
compile
debian/*.log
debian/autoreconf.after
debian/autoreconf.before
