[submodule "src/deps/juce"]
	path = src/deps/juce
	url = https://github.com/WeAreROLI/JUCE.git
  ignore = dirty
[submodule "tests/catch2"]
	path = tests/catch2
	url = https://github.com/catchorg/Catch2.git
