[Desktop Entry]
Version=1.0
Type=Application
Name=Giada
GenericName=Drum machine and loop sequencer
GenericName[de]=Drum Maschine und Loop Sequenzer
GenericName[es]=Caja de ritmos y secuenciador de loops
GenericName[fr]=Boîte à rythme et séquenceur de boucle
Comment=Drum machine and loop sequencer
Comment[de]=Drum Maschine und Loop Sequenzer
Comment[es]=Caja de ritmos y secuenciador de loops
Comment[fr]=Boîte à rythme et séquenceur de boucle
Exec=giada %f
Terminal=false
Icon=giada
Categories=Music;AudioVideo;Audio;Midi;X-Digital_Processing;X-Jack;X-MIDI;
Keywords=midi;jackd;alsa;pulse;audio;sound;loop;
